UNIQUE_NAMESPACE=mindmap-management-gui
IMAGE_REPOSITORY=my-docker-shared-images.my-artifact-manager.my-company.com
PROXY_USER=my-artifact-user
PROXY_PASSWORD=+++++ set value in secrets/proxy_password +++++
PROXY_FQDN=my-proxy.my-company.com
PROXY_PORT=8080
NEXT_PUBLIC_API_URL_DEV='http://localhost:1337'
NEXT_PUBLIC_API_URL_PROD='http://localhost:1337'
PORT_DEV=3001
PORT_PROD=3002
